<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="MediaStore.createWriteRequest"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/_36dbf1c6_3448_4f6f_af1b_e15430f54a4b"
        android:label="@string/app_name"
        android:roundIcon="@drawable/_36dbf1c6_3448_4f6f_af1b_e15430f54a4b"
        android:supportsRtl="true"
        android:theme="@style/Theme.Waller"
        tools:targetApi="31">
        <activity
            android:name="com.example.waller.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>